body{
    text-align:center;
}

h1{
    color:aliceblue;
}
header{
    background-color: black;
    height: 100px;
    padding:20px
}
ul li{
    display:inline;
    color:rgb(10, 218, 250);
    padding:20px;
}
ul li a{
    color:rgb(10, 218, 250);
    text-decoration:none ;
}
#home img{
    height:20%;
    width:20%;
    border-radius:50%;
}
#portfolio {
      background-color: rgb(156, 185, 206);
}
#skills ul li {
color: rgb(255, 6, 6);
}
footer p{
background-color: rgb(157, 199, 218);
height:40px;
}